*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.row:before, .row:after{
    content: " ";
    display: table;
}
.row:after{
    clear: both
}
[class*="col-"]{
    min-height: 7px;
    padding:12px;
    max-width: 100%;
}
.col-1 {
    /* (1 / 12) x 100 */
    width: 8.333333%;
  } 
  
  .col-2 {
    /* (2 / 12) x 100 */
    width: 16.666667%;
  } 
  
  .col-3 {
    /* (3 / 12) x 100 */
    width: 25%;
  } 
  
  .col-4 {
    /* (4 / 12) x 100 */
    width: 33.333333%;
  }
  
  .col-5 {
    /* (5 / 12) x 100 */
    width: 41.666667%;
  }
  
  .col-6 {
    /* (6 / 12) x 100 */
    width: 50%;
  } 
  
  .col-7 {
    /* (7 / 12) x 100 */
    width: 58.333333%;
  }
  
  .col-8 {
    /* (8 / 12) x 100 */
    width: 66.666667%;
  }
  
  .col-9 {
    /* (9 / 12) x 100 */
    width: 75%;
  }
  
  .col-10 {
    /* (10 / 12) x 100 */
    width: 83.333333%;
  }
  
  .col-11 {
    /* (11 / 12) x 100 */
    width: 91.666667%;
  }
  
  .col-12 {
    /* (12 / 12) x 100 */
    width: 100%;
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
   }
  
   #menumain{
    padding: 0px;
    margin-left: 3%;
  }
  header{
  height: 110px;
  } 
  
  .menu{
    text-align: center;
    font-size: 25px;
    padding: 19% 9%;
    margin-top: -53%
  }

  #personal,#grupo,#eventos{
    font-size: 17px;
    margin-top: 22px;
    margin-left: -6px;
  }
  #contactos{
    font-family: Trebuchet MS;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 23px;
 }
 #lupa{
  margin-left: 184px;
 }
 #menu{
  margin-left: 29px;
 }
 #fotoContacto{

  margin-top: 33px;
  margin-left: 8px;
  width: 54px;
 }

 #nombreContacto{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 29px;
  color: #1A83C4;
  margin-left: 78px;
  margin-top: -53px;
 }
 #hora{
  font-family: Lato;
  margin-left: 304px;
  font-size: 17px;
  letter-spacing: 0.3px;
  color: #1A83C4;
  margin-top: -28px;
 }
 #info{
  margin-left: 316px;
  margin-top: -1px;
  width: 22px;
 }
  #uno{
    margin-left: -19px;
    margin-top: 14px;
    width: 7px;
  }
  #linea{
    margin-top: 8px;
  }
  #linea2{
    margin-top: 43px;
  }

  
  }